body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
#main-area{
    width: 100%;
}
#hero{
    padding: 30px 0;
}
.container{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 46%;
    margin: 0 3%;
}
.color-text{
    color: #FBA24F;
}
#hero h1{
    font-size: 55px;
    font-weight: bold;
    color: #575757;
    padding-top: 100px;
}

.left-text{
    font-size: 18px;
    line-height: 32px;
}
.right-padded{
    padding: 10px 300px 0 0;
}
.subtitle{
    color: #252525;
    text-align: center;
    padding: 0 370px;
    line-height: 24.55px;
}
.half-width a{
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(to right, #fba24f,#FF1E1E);
    padding: 20px 32px;
    border-radius: 50px;
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 50px;
}
#hero img{
    width: 80%;
    float: right;
}

/* About Section */

#about {
    background-image: url(images/shapes/7.png);
    background-size: cover;
    padding-top: 50px;
    background-repeat: no-repeat;
}
#about img{
    width: 40%;
    float: right;
}
#about h2{
    font-size: 40px;
    font-weight: bold;
    color: #575757;
    padding-top: 100px;
}


/*Recipies Section*/
#recipies{
    padding-top: 100px;
}
h3 {
    text-align: center;
    font-size: 40px;
    color: rgb(87, 87, 87);
    margin-top: 0;
}
h4{
    font-size: 28px;
    color: #18191F;
}

.items-wrapper{
    width: 65%;
    margin: 0 auto;
    padding: 40px 0;
}
.single-recipe-wrap{
width: 30%;
padding: 15px;
box-shadow: 0px 0px 10px 0px #808080b5;
border-radius: 25px;
margin: 0 1.7%;
}

.single-recipe-wrap img{
    width: 100%;
}

/*Counter Section*/
#counter {
    margin: 50px 0;
    padding-bottom: 50px;
}
.counter-wrapper{
    width: 61%;
    margin: 0 auto;
    box-shadow: 0px 0px 10px 0px #808080b5;
    border-radius: 25px;
    padding: 15px 0;
}
.counter-item{
    width: 20%;
    margin: 10px 6.6%

}
.number {
    font-size: 48px;
    font-weight: 700;
    margin: 30px 0;
}

/*Bonus Section*/
#bonus {
    padding-bottom: 50px;
}
.extra-margin{
    padding: 70px 0px;
}
.single-bonus-wrap{
    width: 30%;
    padding: 15px;
    border-radius: 5px;
    margin: 0 1.7%;
    text-align: center;
}
    
.single-bonus-wrap img{
        width: 100%;
}
.orange{
    background: rgba(255, 127, 80, 0.507);
    padding: 70px 0;
    position: relative;
}
.bonus-title{
    color: #ef560d;
    padding: 30px 0;
}
.serial {
    background: white;
    width: 89px;
    height: 89px;
    margin: 0 auto;
    border-radius: 50px;
    margin-top: -113px;
}
.serial h2 {
    font-size: 60px;
    font-weight: 800;
    margin: 0;
    padding: 0;
    color: tomato;
}

.divider {
	width: 65px;
	height: 3px;
	margin: 30px auto 0;
    background: #ef560d;
}
.single-bonus-wrap p{
    font-size: 18px;
    line-height: 32px;
    padding: 20px 30px;
}

/*Footer section*/

#footer{
    background: #18191F;
    text-align: center;
    padding: 50px 0;

}
h6{
    color:#5B5B5B;
    font-weight: 800;
    font-size: 30px;
    margin: 0;
}
.branding{
    color: orange;
}
.copyright{
    color: #ffffff;
    margin-bottom: 0;
}